/*header*/
header{
	@include repisa;
	.navbar-header{
			.logo{
			float:left;
			img{
				height:50px;
				float:left;
			}
		}
	}
	
	
}

/*HOME*/
.ima{
	@include repisa;
	background-image:url(../images/back-lock.jpg);
	background-size:100%;
	width:100%;
	height:500px;
	position: relative;
	&:before{
		background-color:rgba(0,0,0,0.6);
		width:100%;
		height:500px;
		position: absolute;
	}
	.texto{
		padding:60px 50px 60px 50px;
		font-size: 30px;
		h1,p{
			color:$blanco;
			text-align:center;
			position: relative;

		}
	
	}
	
	
}
/*TEXTO INDIVIDUAL*/

.margen{
	@include margenes;
	.fotos{
	@include repisa;
	height:600px;
	float:left;
	img{
		height:350px;
		width:90%;
	}
}
.txt{
	@include repisa;
	height:300px;
	float:left;
	padding-top:100px;
	hr{
		@include raya;
		background-color:$negro;
	}
	.iconos{
		height:100px;
		float:left;
		width:100%;
		img{
			padding:10px 20px 10px 20px;
			opacity: 0.5;
		}
	}
	.icotxt{
		height:120px;
		float:left;
		
		h4,p{
			padding:0px 20px 10px 20px;
		}
	}
}
}


/*MY TITLE*/
.ima2{
	@include repisa;
	background-image:url(../images/bg3.jpg);
	background-size:100%;
	height:500px;
	position: relative;
	@include margenes;
	&:before{
		background-color:rgba(0,0,0,0.5);
		width:100%;
		height:500px;
		position: absolute;
	}
	.texto2{
		padding:100px 20px 10px 0px;
		hr{
			margin-left: 30px;
			@include raya;
			background-color:$blanco;
		}
		h1,p{
			padding:30px 20px 10px 20px;
			color:$blanco;
			text-align:left;
		}
		
		float:left;
		
	}
	video{
		float:left;
		width:90%;
		padding:100px 20px 10px 20px;
	}
}


/*ME DEFINE*/
.rep{
	@include repisa;
		.marco{
			margin:0px 0px 0px 0px;
			float:left;
			h1,h2,p{
				margin-left: 20px;
				padding:5px 10px 20px 5px;
				font-size: 12px;
			}
			img{	
				height:300px;	
				width:100%;
				padding:0;
					&:hover{
						opacity: 0.5;
					}
				}
			}
			hr{
				@include raya;
				background-color:$negro;
				}
}
/*PLANES*/
.margen{
		
		.linea1{
		width:100%;
		background-color:$gris;
		margin:0px;
		padding:0px;
		text-align:center;
		h2{
			font-weight: bold;
			text-align:center;
		}
		span{
			font-size: 30px;
			font-weight: bold;
			text-align:center;
		}
		.linea{
			width:100%;
			font-size: 1px;
			background-color:$grisoscuro;
		}
		img{
				opacity: 0.5;
			}
		.borde{
				border-left:1px solid $grisoscuro;
				padding:20px;
				img{
				opacity: 0.5;
			}
		}
		p{
			font-size: 10px;
			font-weight: bold;
			padding:9px;
			
		}
		&:hover{
					background-color:$blanco;
					border:1px solid $negro;
					
				}

		.order{
		width:100%;
		height:50px;
		background-color:$negro;
		color:$blanco;
		margin-bottom: 0px;
		
		p{
			padding:10px;
			text-align:center;
		}
		}
		hr{
			@include raya;
			background-color:$negro;
			}
	}
}

/*CONTACT*/
.conta{
		hr{
			@include raya;
			background-color:$negro;
		}
	}
.info{
	i{
		p{
			visibility: false;
			&:hover{
				visibility: true;
			}
		
		}
	}
}
/*FOOTER*/
footer{
	@include repisa;
	background-color:$grisoscuro;
	height:200px;
	width:100%;
	.box{
		padding:30px 20px 30px 20px;
		text-align:center;
	}
}
