/*header*/
header{
	@include repisa;
	.menu{
	@include titulo;
	a{
		&:hover{
			color:$gris;
			}
		}
	}
	.logo{
		float:left;
		img{
		width:50px;
		height:50px;
		float:left;
	}
	}
}
.logo{
	float:left;
	padding:10px 30px 10px 30px;
}
/*HOME*/
.ima{
	background-image:url(../images/back-lock.jpg);
	background-size:100%;
	height:500px;
	.texto{
		position: relative;
		padding:60px 50px 60px 50px;
		color:$blanco;
		text-align:center;
	}
}
/*TEXTO INDIVIDUAL*/

.fotos{
	border:2px solid red;
	width:48%;
	height:300px;
	float:left;
}
.txt{
	border:2px solid green;
	width:48%;
	height:300px;
	float:left;
}
.iconos{
	border:2px solid red;
	width:48%;
	height:150px;
	float:left;
}
.icotxt{
	border:2px solid green;
	width:48%;
	height:150px;
	float:left;
}
/*MY TITLE*/
.ima2{
	@include repisa;
	background-image:url(../images/bg3.jpg);
	background-size:100%;
	height:500px;
	margin-top:900px;
	.texto2{
		
		padding:10px 20px 10px 20px;
		color:$blanco;
		text-align:left;
		width:50%;
		float:left;
	}
	.video{
		float:left;
		width:45%;
		p{
			
			height:200px;
			border:2px solid red;
		}
	}
}


/*ME DEFINE*/
.rep{
	@include repisa;
		.marco{
		margin:20px 0px 20px 0px;
		width:20%;
		float:left;
		
		img{
			width:90%;
			height:300px;
			
		}
	}
}
/*PLANES*/
/*CONTACT*/