@mixin titulo{
	li{
	list-style: none;
	float:left;
	color:$grisoscuro;
	display:inline-block;
}
}
@mixin repisa{
	&:before,&:after{
		content:"";
		display:block;
		clear:both;
	}
}
@mixin margenes{
	margin-top:100px;
	margin-bottom:100px;
}
@mixin raya{
		background-color:$negro;
		height:2px;
		width:40px;
		margin-left: 0px;
}